*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
@viewport{
    width: device-width;
    zoom: 1.0;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("Images/Inazuma02.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #eff4fd;/*eff4fd*//*This changes the background color*/
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);/*This changes the color of the buttons at the very top*/
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(255, 81, 0)/*This changes the color of the buttons at the very top when you hover them*/
}

.detel{/*editing anything in .detel will change the box that surrounds the main text*/
    margin-left: 8%;
    margin-top: 15%;
    background: ghostwhite; 
    padding: 100px; 
    border: 1px solid lightgray; 
    width: 500px;
    border-radius: 100px /*This alters the edges of the text box*/
}

.detel h1{
    font-size: 50px;
    color: #212121;/*212121*//*This changes the color of the title*/
    margin-bottom: 20px;
}

span{
    color: orange;/*This would change the color of certain text within the "span" class in the html file in the title*/
    
}

.detel p{
    color: #555;/*This changes the color of the text underneath the title*/
    line-height: 22px;
}

.detel a{
    background: #212121;/*changes the outer part of the download resume button*/
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;/*changes the text of the download resume button*/
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.new_images{/*This is to prevent the images from moving*/
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.new_images img{
    height: 100%;
    position: absolute;
    left: 0%;
    bottom: 50px;
    transform: translateX(0%);
    transition: bottom 1s, left 1s;
}
/*
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
*/
.images:hover .background{
    bottom: 1000px;
}

.images:hover .waifu{
    left: 0px;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
    background: ghostwhite; 
    padding: 10px; 
    border: 1px solid lightgray; 
    width: 500px;
}

.social a:hover{
    color: rgb(255, 81, 0);
}


